.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 100%;
  &__login-form{
    width: 100%;
    max-width: 500px;
  }
}
